 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>T-Labs’ mission is directly derived from the Deutsche Telekom vision, which states: “As the leading services company in the telecommunications and information technology industry, we network society for a better future. We do it across the entire enterprise, with top quality, efficiency and innovation and to the benefit of our customers.”</p>
                </div>
                <div class="col-lg-4">
                    <p>The core of the research and development done at T-Labs is project work. All projects support the objective of developing innovative products and services for Deutsche Telekom customers. The results of this research and development are primarily transferred to the Group's strategic business units or are used to establish spin-off organizations.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.laboratories.telekom.com/" class="btn btn-lg btn-outline">
                        Offical T-Labs Homepage
                    </a>
                </div>
            </div>
        </div>
    </section>